li{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.span-button{
   width: 20%;
   display: flex;
   justify-content: space-evenly;
}

.done{
    text-decoration: line-through;
}

.btnContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    margin-top: 3%;
}

.alternativeTask{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img{
    height: 25rem;
    width: auto;
}

.task-contenu{
    cursor: pointer;
    width: 40%;
}

.button-container{
    width: 20%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.z-index{
    z-index: 50;
}

.modalContainer{
    height: 80vh;
    width: 80vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #25242a;
    color: #fff;
    font-size: 25px;
}

.nightModeOn{
    background-color: #25242a;
    color: #fff;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.full-container{
    width: 100vw;
    height: fit-content;
    padding-bottom: 30rem;
}

.white-black-font{
    color: #25242a;
}

.nightModeOn{
    .header-container{
        background-color: #25242a;
        color: #fff;
    }

    li{
        background-color: #25242a;
        color: #fff;
    }

    .btnContainer{
        background-color: #25242a;
    }
}

.importance-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-action{
    margin-left: 20px;
    display: flex;
    justify-content: flex-end;
}

.btn-action button{
    margin-left: 15px;
    margin-right: 15px;
}

.onHold{
    color: gray;
}

.onHoldBtn {
    width: 110px;
}

.header-container img{
    height: 100px;
    width: auto;
}

.card-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal-body button {
    margin-left: 7px;
}

.importance-btn{
    width: 160px;
}

.change-language{
    width: 100%;
    height: 5vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.change-language img{
    height: 100%;
    width: auto;
    padding-right: 2rem;
    cursor: pointer;
}

