li{
    display: flex;
    justify-content: space-between;
}

.span-button{
   width: 20%;
   display: flex;
   justify-content: space-evenly;
}

.done{
    text-decoration: line-through;
}

.btnContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    margin-top: 3%;
}

.alternativeTask{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img{
    height: 25rem;
    width: auto;
}