<div class="full-container" [ngClass]="nightMode == true ? 'nightModeOn' : 'nightModeOff'">

  <div class="card mb-3 header-container">
    <div class="card-body">
      <h5 class="card-title">Ma To Do List</h5>
      <p class="card-text">Ajoutez vos tâches ici, gérez-les et débarrassez-vous en.</p>
      <p class="card-text"><small class="text-muted">Github : @brayancapet</small></p>
      <button type="button" class="btn btn-warning" *ngIf="nightMode == false" (click)="stateChange()">night mode</button>
      <button type="button" class="btn btn-warning" *ngIf="nightMode == true" (click)="stateChange()">day mode</button>
    </div>
  </div>
  
  <app-add-task-form (newTask)="addTask($event)"></app-add-task-form>
  
  <div class="container" *ngIf="tasks.length > 0; else elseBlock">
      <ul class="list-group list-group-flush">
        <li class="list-group-item" *ngFor="let task of tasks">
          <span class="span-contenu" [ngClass]="task.fait == true ? 'done' : 'notDone' " (click)="toggleCheck(task.id)">{{task.id}} - {{task.contenu}}</span>  
          <div class="button-container">
            <button type="button" class="btn btn-danger" (click)="deleteTask(task.id)">Delete</button>
            <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="generateModalText(task.id)">Edit</button>
          </div>
        </li>
      </ul>
  </div>
  <ng-template #elseBlock>
    <div class="container alternativeTask">
      <h2>Nothing planned..</h2>
      <h4>Time to start something !</h4>
      <img src="../../assets/images/undraw_Team_up_re_wadf.png" alt="Placeholder picture of a woman and a man waiting as they are bored." *ngIf="nightMode == false">
      <img src="../../assets/images/undraw_Team_up_re_wadf-removebg-preview.png" alt="Placeholder picture of a woman and a man waiting as they are bored." *ngIf="nightMode == true">
    </div>
  </ng-template>
  
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel" [ngClass]="nightMode == true ? 'white-black-font' : 'nullll'">Titre tâche :</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <input value="{{this.selectedTask.contenu}}" class="form-control" [(ngModel)]="this.selectedTask.contenu">
          <p [ngClass]="nightMode == true ? 'white-black-font' : 'nullll'" style="padding-top: 10px;">Status : {{this.selectedTask.fait == false ? 'à terminer' : 'tâche accomplie'}}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="sauvegardeModal()">Sauvegarder</button>
        </div>
      </div>
    </div>
  </div>
  
  <div class="btnContainer">
    <button class="btn btn-warning" (click)="clear()">Tout effacer</button>
  </div>
  

</div>