li{
    display: flex;
    justify-content: space-between;
}

.span-button{
   width: 20%;
   display: flex;
   justify-content: space-evenly;
}

.done{
    text-decoration: line-through;
}

.btnContainer{
    display: flex;
    justify-content: center;
}

button{
    margin-top: 3%;
}